@page "/hallinta"

@using DataLibrary
@using PizzeriaProjekti.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<h3>Tuotteiden hallinta</h3>

@if (pizzat == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>

        @foreach (var pizza in pizzat)
        {
            <div class="card">
                <img src="/Images/@pizza.P_Kuva" style="width:100%">
                <h1>@pizza.P_Nimi</h1>
                <p class="price">@pizza.P_hinta€</p>
                <p>@pizza.Taytteet</p>
                <button @onclick="() => Delete(pizza.Pizza_ID)">Poista</button>
                <button @onclick="() => Update(pizza.Pizza_ID)">Muokkaa</button>
            </div>
            <br>
        }
    </div>
}


<div>
    <button @onclick="Navigate">Lisää tuote</button>
</div>

@code
{
    public int paramID;
    List<PizzaModel> pizzat;


    private void Delete(int Pizza_ID)
    {
        paramID = Pizza_ID;
        navigationManager.NavigateTo($"poista/{paramID}");
    }

    //
    private void Update(int Pizza_ID)
    {
        paramID = Pizza_ID;
        navigationManager.NavigateTo($"muokkaus/{paramID}");
    } 

    private void Navigate()
    {
        navigationManager.NavigateTo($"lisaaTuote");
    }

    // SQL-kysely, joka hakee kaikki pizza-taulun tietueet
    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM Pizza";
        pizzat = await _data.LoadData<PizzaModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
