@page "/vahvistaPizza"
@page "/vahvistaPizza/{Pizza_ID:int}"

@using DataLibrary
@using PizzeriaProjekti.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<p>@Pizza_ID</p>

@code 
{
    [Parameter]
    public int? Pizza_ID { get; set; }
}
